@import 'styles/less/taka-theme/globals/variables';
@main: rgba(0, 0, 0, 0.05);

/* Accordion styles */
.tabs-accordion {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);

  .tab:first-child {
    margin-top: 8px;
  }

  .tab {
    padding: 0 !important;
    border: @borderGroove;
    height: auto !important;
    width: 100%;
    color: black;
    overflow: hidden !important;

    &-label {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      background: @main;
      font-weight: bold;
      cursor: pointer;
      /* Icon */

      &:hover {
        background: darken(@main, 10%);
      }

      &::after {
        content: "\276F";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all .35s;
      }
    }
    &-content {
      max-height: 0;
      padding: 0 1em;
      color: black;
      background: @main;
      transition: all .35s;
      opacity: 0;
    }
    &-close {
      display: flex;
      justify-content: flex-end;
      padding: 1em;
      font-size: 0.75em;
      background: @main;
      cursor: pointer;

      &:hover {
        background: darken(@main, 10%);
      }
    }

    .accordion-checkbox {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }

    // :checked
    .accordion-checkbox:checked {
      + .tab-label {
        background: darken(@main, 10%);

        &::after {
          transform: rotate(90deg);
        }
      }

      ~ .tab-content {
        max-height: 100vh;
        opacity: 100%;
        padding: 1em;
      }
    }
  }
}



