<form class="spells {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
      height="64"
      width="64"
    />
    <h1><input
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="Name"
      /></h1>
  </header>
  <div>
    <div class="spell">
      <!-- order by circle -->
      <table>
        <tr>
          <td>{{localize "earthdawn.c.circle"}}</td>
          <td class="padding-left-6 padding-right-6">
            <input
              name="system.circle"
              type="number"
              value="{{item.system.circle}}"
              data-dtype="number"
            />
          </td>

          <td>{{localize "earthdawn.c.constantThreads"}}</td>
          <td>
            <input
              name="system.constantthreads"
              type="number"
              value="{{item.system.constantthreads}}"
              data-dtype="number"
            />
          </td>
        </tr>
        <tr>
          <td>{{localize "earthdawn.a.activethreads"}}</td>
          <td class="padding-left-6 padding-right-6">
            <input
              name="system.activethreads"
              type="number"
              value="{{item.system.activethreads}}"
              data-dtype="Number"
            />
          </td>

        </tr>
      </table>
    </div>
    <div class="flexColumn">
      {{editor enrichment.system.description target="system.description" button=true owner=owner editable=editable}}
    </div>
  </div>
</form>
