<form class="weapon {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <section>   
        <div class="partial-four">
            <div class="padding-right-6">
                <label>{{localize "earthdawn.w.weaponType"}}:</label>
            </div>
            <div class="padding-right-6">
                <select name="system.weapontype" class="inherent-width" value="{{item.system.weapontype}}"
                    {{#select item.system.weapontype}}>
                        <option value="Melee">{{localize "earthdawn.m.melee"}}</option>
                        <option value="Ranged">{{localize "earthdawn.r.ranged"}}</option>
                        <option value="Thrown">{{localize "earthdawn.t.thrown"}}</option>
                        <option value="Unarmed">{{localize "earthdawn.u.unarmed"}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="partial-four">
            <div class="padding-left-3 padding-right-3">
                <label>{{localize "earthdawn.d.damageAttribute"}}: </label>
            </div>
            <div class="padding-left-3 padding-right-3">
                <select name="system.damageattribute" class="inherent-width" value="{{item.system.damageattribute}}"
                    {{#select item.system.damageattribute}}><option value="">-{{localize "earthdawn.n.none"}}-</option>
                        <option value="dexterity">{{localize "earthdawn.d.dexterity"}}</option>
                        <option value="strength">{{localize "earthdawn.s.strength"}}</option>
                        <option value="toughness">{{localize "earthdawn.t.toughness"}}</option>
                        <option value="perception">{{localize "earthdawn.p.perception"}}</option>
                        <option value="willpower">{{localize "earthdawn.w.willpower"}}</option>
                        <option value="charisma">{{localize "earthdawn.c.charisma"}}</option>
                    {{/select}}
                </select>
            </div>   
        </div>
        <div class="partial-four">
            <div class="padding-left-6">
                <label>{{localize "earthdawn.d.damageStep"}}:</label>
            </div>
            <div class="padding-left-6">
                <input name="system.damagestep" type="text" value="{{item.system.damagestep}}" />
            </div>
        </div> 
        <div class="partial-four">
            <div class="padding-left-6">
                <label>{{localize "earthdawn.d.damageStepFinal"}}:</label>
            </div>
            <div class="padding-left-6">
                <input name="system.damageTotal" type="text" value="{{item.system.damageTotal}}" />
            </div>
        </div>
    </section>
    <section class="padding-top-15">
        <table class="itemAttributes table-border">
            <tr>
                <td>
                    {{localize "earthdawn.c.cost"}}
                </td>
                <td class="padding-left-6 padding-right-6">
                    <input name="system.cost" type="text" value="{{item.system.cost}}" data-dtype="double"/>
                </td>
                <td>
                    {{localize "earthdawn.s.size"}}
                </td>
                <td class="padding-left-6">
                    <input name="system.size" type="text" value="{{item.system.size}}" data-dtype="Number"/>
                </td>
            </tr>
            <tr>
                <td>
                    {{localize "earthdawn.s.strengthMinimum"}}
                </td>
                <td class="padding-left-6 padding-right-6">
                    <input name="system.strenghtminimum" type="text" value="{{item.system.strenghtminimum}}" data-dtype="Number"/>
                </td>
                <td>
                    {{localize "earthdawn.a.availability"}}
                </td>
                <td class="padding-left-6">
                    <select class="inherent-width" name="system.availability" value="{{item.system.availability}}"
                        {{#select item.system.availability}}>
                            <option value="Everyday">{{localize "earthdawn.a.availabilityEveryday"}}</option>
                            <option value="Average">{{localize "earthdawn.a.availabilityAverage"}}</option>
                            <option value="Unusual">{{localize "earthdawn.a.availabilityUnusual"}}</option>
                            <option value="Rare">{{localize "earthdawn.a.availabilityRare"}}</option>
                            <option value="VeryRare">{{localize "earthdawn.a.availabilityVeryRare"}}</option>        
                        {{/select}}
                    </select>
                </td>       
            </tr>
            <tr>
                <td>
                    {{localize "earthdawn.r.rangeShort"}}
                </td>
                <td class="padding-left-6 padding-right-6">
                    <input name="system.longrange" type="text" value="{{item.system.longrange}}" data-dtype="String"/>
                </td>
                <td>
                    {{localize "earthdawn.r.rangeLong"}}
                </td>
                <td class="padding-left-6">
                    <input name="system.shortrange" type="text" value="{{item.system.shortrange}}" data-dtype="String"/>
                </td>
            </tr>
            <tr>
                <td>
                    {{localize "earthdawn.w.weight"}}
                </td>
                <td class="padding-left-6 padding-right-6">
                    <input name="system.weight" type="text" value="{{item.system.weight}}" data-dtype="Double"/>
                </td>
                <td>
                    {{localize "earthdawn.a.ammunition"}}
                </td>
                <td class="padding-left-6">
                    <input name="system.ammo.value" type="text" value="{{item.system.ammo.value}}" data-dtype="number"/>
                </td>
            </tr>
            <tr>
                <td>
                    {{localize "earthdawn.b.bloodDamage"}}
                </td>
                <td class="padding-left-6 padding-right-6">
                    <input name="system.bloodMagicDamage" type="text" value="{{item.system.bloodMagicDamage}}" data-dtype="Number">
                </td>
                
                <td>
                    {{localize "earthdawn.t.timesForged"}}
                </td>
                <td class="padding-left-6">
                    <input name="system.timesForged" type="text" value="{{item.system.timesForged}}" data-dtype="Number">
                </td>
            </tr>
            <tr>
                {{#if (eq item.system.isthread true)}}
                <td>
                    {{localize "earthdawn.m.maximumThreads"}}
                </td>
                <td class="padding-left-6 padding-right-6">
                    <input name="system.maxThreads" type="text" value="{{item.system.maxThreads}}" data-dtype="Number">
                </td>
                <td></td>
                <td></td>
                {{else}}
                
                {{/if}}
            </tr>
        </table>
    </section>
	<!-- GM field toggel Thread item -->
    <div class="static">
        {{#if (eq isGM true)}}{{localize "earthdawn.t.threadItem"}}?
            <input type="checkbox" name="system.isthread" {{checked item.system.isthread}}  />
        {{/if}}
    </div>
    <!-- Thread Item -->
	{{> "systems/earthdawn4e/templates/items/partials/thread-item.hbs"}}
</form>
