{{#if (PC this)}}
	<div class="characteristics flexcol">
		<div class='grid grid-2col'>
			<label>{{ localize "earthdawn.h.height" }}</label>
			<input type='text' value='{{actor.system.height}}' name="system.height"/>
		</div>
		<div class='grid grid-2col'>
			<label>{{ localize "earthdawn.a.age" }}</label>
			<input type='number' value='{{actor.system.age}}' name="system.age"/>
		</div>
		<div class='grid grid-2col'>
			<label>{{ localize "earthdawn.s.sex" }}:</label>
			<select name="system.sex" value='{{actor.system.sex}}'>
				{{#select actor.system.sex}}
					<option value="{{localize 'earthdawn.n.none'}}">{{localize 'earthdawn.n.none'}}</option>
					<option value="{{localize 'earthdawn.m.male'}}">{{localize 'earthdawn.m.male'}}</option>
					<option value="{{localize 'earthdawn.f.female'}}">{{localize 'earthdawn.f.female'}}</option>
					<option value="{{localize 'earthdawn.d.diverse'}}">{{localize 'earthdawn.d.diverse'}}</option>
				{{/select}}
			</select>
		</div>
		<div class='grid grid-2col'>
			<label>{{ localize "earthdawn.h.hair" }}</label>
			<input type='text' value='{{actor.system.hair}}' name="system.hair"/>
		</div>
		<div class='grid grid-2col'>
			<label>{{ localize "earthdawn.e.eyes" }}</label>
			<input type='text' value='{{actor.system.eyes}}' name="system.eyes"/>
		</div>
		<div class='grid grid-2col'>
			<label>{{ localize "earthdawn.s.skin" }}</label>
			<input type='text' value='{{actor.system.skin}}' name="system.skin"/>
		</div>
	</div>
	<div class="biography">
{{/if}}
	<!-- Languages -->
	<h3>{{localize "earthdawn.l.language"}}</h3>
	<div class="actor-languages">
    
		<div class="partial-three">
			<div>
				<input class="block" type="checkbox" data-dtype="Boolean" name="system.speak.languages.dwarven" {{checked actor.system.speak.languages.dwarven}} title="{{localize "earthdawn.l.languageLearnedSpeak"}}" />
				<input class="block" type="checkbox" data-dtype="Boolean" name="system.write.languages.dwarven" {{checked actor.system.write.languages.dwarven}} title="{{localize "earthdawn.l.languageLearnedWrite"}}" />
				<label>{{localize "earthdawn.l.languageDwarven"}}</label>
			</div>
			<div>
				<input class="block" type="checkbox" data-dtype="Boolean" name="system.speak.languages.elven" {{checked actor.system.speak.languages.elven}} title="{{localize "earthdawn.l.languageLearnedSpeak"}}" />
				<input class="block" type="checkbox" data-dtype="Boolean" name="system.write.languages.elven" {{checked actor.system.write.languages.elven}} title="{{localize "earthdawn.l.languageLearnedWrite"}}" />
				<label>{{localize "earthdawn.l.languageElven"}}</label>
			</div>
			<div>
				<input class="block" type="checkbox" data-dtype="Boolean" name="system.speak.languages.windling" {{checked actor.system.speak.languages.windling}} title="{{localize "earthdawn.l.languageLearnedSpeak"}}" />
				<input class="block" type="checkbox" data-dtype="Boolean" name="system.write.languages.windling" {{checked actor.system.write.languages.windling}} title="{{localize "earthdawn.l.languageLearnedWrite"}}" />
				<label>{{localize "earthdawn.l.languageWindling"}}</label>
			</div>
		</div>
		<div class="partial-three">
			<div>
				<input class="block" type="checkbox" data-dtype="Boolean" name="system.speak.languages.human" {{checked actor.system.speak.languages.human}} title="{{localize "earthdawn.l.languageLearnedSpeak"}}" />
				<input class="block" type="checkbox" data-dtype="Boolean" name="system.write.languages.human" {{checked actor.system.write.languages.human}} title="{{localize "earthdawn.l.languageLearnedWrite"}}" />
				<label>{{localize "earthdawn.l.languageHuman"}}</label>
			</div>
			<div>
				<input class="block" type="checkbox" data-dtype="Boolean" name="system.speak.languages.obsidiman" {{checked actor.system.speak.languages.obsidiman}} title="{{localize "earthdawn.l.languageLearnedSpeak"}}" />
				<input class="block" type="checkbox" data-dtype="Boolean" name="system.write.languages.obsidiman" {{checked actor.system.write.languages.obsidiman}} title="{{localize "earthdawn.l.languageLearnedWrite"}}" />
				<label>{{localize "earthdawn.l.languageObsidiman"}}</label>
			</div>
			<div>
				<input class="block" type="checkbox" data-dtype="Boolean" name="system.speak.languages.troll" {{checked actor.system.speak.languages.troll}} title="{{localize "earthdawn.l.languageLearnedSpeak"}}" />
				<input class="block" type="checkbox" data-dtype="Boolean" name="system.write.languages.troll" {{checked actor.system.write.languages.troll}} title="{{localize "earthdawn.l.languageLearnedWrite"}}" />
				<label>{{localize "earthdawn.l.languageTroll"}}</label>
			</div>
		</div>
		<div class="partial-three">
			<div>
				<input class="block" type="checkbox" data-dtype="Boolean" name="system.speak.languages.ork" {{checked actor.system.speak.languages.ork}} title="{{localize "earthdawn.l.languageLearnedSpeak"}}" />
				<input class="block" type="checkbox" data-dtype="Boolean" name="system.write.languages.ork" {{checked actor.system.write.languages.ork}} title="{{localize "earthdawn.l.languageLearnedWrite"}}" />
				<label>
				{{localize "earthdawn.l.languageOrk"}}
				</label>
			</div>
			<div>
				<input class="block" type="checkbox" data-dtype="Boolean" name="system.speak.languages.tskrang" {{checked actor.system.speak.languages.tskrang}} title="{{localize "earthdawn.l.languageLearned"}}" />
				<input class="block" type="checkbox" data-dtype="Boolean" name="system.write.languages.tskrang" {{checked actor.system.write.languages.tskrang}} title="{{localize "earthdawn.l.languageLearned"}}" />
				<label>{{localize "earthdawn.l.languageTskrang"}}</label>
			</div>
		</div>
    </div>
    <div class="language-option space-big">
      <textarea Placeholder="{{localize "earthdawn.l.languageOther"}}" name="system.languages.other" cols="30" rows="3">{{actor.system.languages.other}}</textarea>
    </div>
	
	{{editor enrichment.system.biography target="system.biography" button=true owner=owner editable=editable rollData=rollData engine="prosemirror"}}
{{#if (PC this)}}
	</div>
{{/if}}
