<div>
	<label>{{localize "earthdawn.c.challenge"}}</label>
	<input name="system.challenge" type="text" value="{{actor.system.challenge}}"/>
</div>

<div>
	<h3>{{localize "earthdawn.i.information"}}</h3>
	{{editor actor.system.description target="system.description" button=true owner=owner editable=editable}}
</div>
