<label>{{localize "earthdawn.d.discipline"}}</label>
<select name="system.discipline">
    {{#select item.system.discipline}}
        <option value="{{localize 'earthdawn.a.airSailor'}}">{{localize 'earthdawn.a.airSailor'}}</option>
        <option value="{{localize 'earthdawn.a.archer'}}">{{localize 'earthdawn.a.archer'}}</option>
        <option value="{{localize 'earthdawn.b.beastmaster'}}">{{localize 'earthdawn.b.beastmaster'}}</option>
        <option value="{{localize 'earthdawn.c.cavalryman'}}">{{localize 'earthdawn.c.cavalryman'}}</option>
        <option value="{{localize 'earthdawn.e.elementalist'}}">{{localize 'earthdawn.e.elementalist'}}</option>
        <option value="{{localize 'earthdawn.i.illusionist'}}">{{localize 'earthdawn.i.illusionist'}}</option>
        <option value="{{localize 'earthdawn.n.nethermancer'}}">{{localize 'earthdawn.n.nethermancer'}}</option>
        <option value="{{localize 'earthdawn.s.scout'}}">{{localize 'earthdawn.s.scout'}}</option>
        <option value="{{localize 'earthdawn.s.skyRaider'}}">{{localize 'earthdawn.s.skyRaider'}}</option>
        <option value="{{localize 'earthdawn.s.swordmaster'}}">{{localize 'earthdawn.s.swordmaster'}}</option>
        <option value="{{localize 'earthdawn.t.thief'}}">{{localize 'earthdawn.t.thief'}}</option>
        <option value="{{localize 'earthdawn.t.troubadour'}}">{{localize 'earthdawn.t.troubadour'}}</option>
        <option value="{{localize 'earthdawn.w.warrior'}}">{{localize 'earthdawn.w.warrior'}}</option>
        <option value="{{localize 'earthdawn.w.weaponsmith'}}">{{localize 'earthdawn.w.weaponsmith'}}</option>
        <option value="{{localize 'earthdawn.w.wizard'}}">{{localize 'earthdawn.w.wizard'}}</option>
    {{/select}}
</select>
