.roll-result {
  text-align: center;
  font-size: 1.2em;
  border-color: black;
}
.chat-message,
#chat-form {
  background-image: url('../assets/background.png');
  background-size: 100%;
}
#sidebar-tabs {
  background-image: url('../assets/green-marble-dialog-header.png');
}

#combat li.combatant .token-name h4,
#combat li.combatant .token-initiative .initiative {
  color: black;
}

.editor-content {
  font-size: large;
}

#combat li.combatant.active {
  background: rgba(110, 51, 3, 0.2);
}

.window-app .window-content .app.sidebar-popout {
  color: black;
}
.app.sidebar-popout .window-content {
  color: black;
}

.window-app .circleInput {
  border: 1px solid;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-top: 5px;
}

.rule-of-one {
  background-color: rgba(198, 87, 83, 0.5) !important;
}
.extra-success {
  background-color: rgba(118, 205, 106, 0.5) !important;
}

.line-break {
  line-break: normal;
  height: fit-content;
}