<div class="item-properties wide-xl">
    <ol class="properties-list">

        {{!-- Shield --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.p.playerValues" }}</label>
                <div class="grid grid-4col no-gap">
                    <label class="grid-span-3">{{localize "earthdawn.d.defensePhysical"}}</label>
                    <input type="number" name="system.physicaldefense" value="{{item.system.physicaldefense}}">

                    <label class="grid-span-3">{{localize "earthdawn.d.defenseMystic"}}</label>
                    <input type="number" name="system.mysticdefense" value="{{item.system.mysticdefense}}">

                    <label class="grid-span-3">{{localize "earthdawn.i.initiativePenalty"}}</label>
                    <input type="number" name="system.initiativepenalty" value="{{item.system.initiativepenalty}}">

                    <label class="grid-span-3">{{localize "earthdawn.s.shatterThreshold"}}</label>
                    <input type="number" name="system.shatterthreshold" value="{{item.system.shatterthreshold}}">

                    <label class="grid-span-3">{{localize "earthdawn.w.weight"}}</label>
                    <input type="number" name="system.weight" value="{{item.system.weight}}">
                </div>
            </div>
        </li>

        <hr>

        {{!-- Checkmarks --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.s.status" }}</label>
                <label class="checkbox">
                    <input type="checkbox" name="system.worn" {{checked item.system.worn}}/> {{ localize
                        "earthdawn.e.equipped" }}
                </label>
                {{#if (eq isGM true)}}
                    <label class="checkbox">
                        <input type="checkbox" name="system.isthread" {{checked item.system.isthread}}/> {{ localize
                            "earthdawn.t.thread" }}
                    </label>
                {{/if}}
            </div>
        </li>

        <hr>

        {{!-- Leftovers --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.s.shopValues" }}</label>

                <div class="grid grid-2col">
                    <label>{{localize "earthdawn.c.cost"}}</label>
                    <input type="number" name="system.cost" value="{{item.system.cost}}">

                    {{> "systems/earthdawn4e/templates/taka-theme/items/partials/selects/select-availability.hbs"}}
                </div>
            </div>
        </li>

    </ol>
</div>

