<div class="item-properties wide">
    <ol class="properties-list">

        {{!-- Spell Matrix --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.s.spellMatrixValues" }}</label>
                <div class="grid grid-4col no-gap">
                    <label class="grid-span-3">{{localize "earthdawn.c.circle"}}</label>
                    <input type="number" name="system.circle" value="{{item.system.circle}}">

                    <label class="grid-span-3">{{localize "earthdawn.c.constantThreads"}}</label>
                    <input type="number" name="system.constantthreads" value="{{item.system.constantthreads}}">

                    <label class="grid-span-3">{{localize "earthdawn.a.activeThreads"}}</label>
                    <input type="number" name="system.activethreads" value="{{item.system.activethreads}}">
                </div>
            </div>
        </li>

    </ol>
</div>

