<form class="taka-theme item flexcol" autocomplete="off">

	<!-- SHEET HEADER -->
	{{> "systems/earthdawn4e/templates/taka-theme/items/partials/item-sheet-header.hbs"}}

	<!-- SHEET NAVIGATION -->
	<nav class="sheet-navigation tabs" data-group="primary">
		<a class="nav active" data-tab="description">{{ localize "earthdawn.d.description" }}</a>
		<a class="nav" data-tab="spell-details">{{ localize "earthdawn.s.spellDetails" }}</a>
		<a class="nav" data-tab="spell-effects">{{ localize "earthdawn.e.effects" }}</a>
	</nav>

	<!-- SHEET BODY -->
	<section class="sheet-body">
		<!-- SIDEBAR -->
		<div class="tab flexrow active" data-group="primary" data-tab="description">
			{{> 'systems/earthdawn4e/templates/taka-theme/items/partials/sidebars/spell-sidebar.hbs'}}
			{{editor enrichment.system.description target="system.description" button=true owner=owner editable=editable engine="prosemirror"}}
		</div>

		<!-- Spell Details -->
		<div class="tab flexrow" data-group="primary" data-tab="spell-details">
			{{> "systems/earthdawn4e/templates/taka-theme/items/partials/spell-details.hbs"}}
		</div>

		<!-- Spell Effects -->
		<div class="tab flexrow" data-group="primary" data-tab="spell-effects">
			{{> "systems/earthdawn4e/templates/taka-theme/items/partials/tabs/effects-tab.hbs"}}
		</div>
	</section>

</form>
