.earthdawn.sheet.actor, .earthdawn.sheet.mask {
  input.circleInput {
    border: 1px solid;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-top: 5px;
  }
  input.circleInputInitiative{
    border: 1px solid;
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius: 50%;
  }

  .centeredInput {
    text-align: center;
    word-spacing: 1000000px;
  }

  .centeredInputNoSpaceing {
    text-align: center;
  }

  .characteristicsLeftBar {
    float: left;
    width: 48%;
    padding-bottom: 15px;
  }

  .characteristicsRightBar {
    float: right;
    width: 48%;
    padding-bottom: 15px;
  }

  .hidden-tab-modifier {
    height: 60px;
    background-color: lightgray;
  }

  .hidden-strecht {
    display: flex;
    flex-direction: column;
  }

  .characteristicsRightBar {
    float: right;
    width: 48%;
    padding-bottom: 15px;
  }
}
