.earthdawn.sheet.actor {
  .storyNotesTab {
    height: 400px;

    .flexColumn {
      height: 380px;

      .editor {
        height: 300px;
      }
    }
  }

  .storyNotesTabNPC {
    display: flex;
    flex-direction: column;
    height: 600px;

    .flexColumn {
      height: 100%;

      .editor {
        height: 100%;
      }
    }
  }

  .automatedAttributeCalculation {
    display: none;
    background-color: lightgray;
  }
  .block {
    vertical-align: middle;
  }

  .language-option {
    margin-top: 90px;
  }
}
