<h2>{{ changeDescription }}</h2>
<br />
<h3>{{ localize 'earthdawn.c.cost' }}</h3>
<div class='grid grid-2col no-gap upgradeDialog talent-cost'>
  <label for='lpCost'>
    {{ localize 'earthdawn.l.lp' }}
  </label>
  <input type='number' id='lpCost' class='inherent-width' value={{ lpCostIncrease }}>
</div>

<h3>{{ localize 'earthdawn.p.parameters' }}</h3>
<div class='grid grid-2col no-gap upgradeDialog talent-parameters'>
  <label for='tier'>
    {{ localize 'earthdawn.t.tier' }}
  </label>
  <select id='tier' name="tier" class="inherent-width" type="text" data-dtype="String">
    {{#select tier}}>
      <option value="novice">{{localize "earthdawn.t.tierNovice"}}</option>
      <option value="journeyman">{{localize "earthdawn.t.tierJourneyman"}}</option>
      <option value="warden">{{localize "earthdawn.t.tierWarden"}}</option>
      <option value="master">{{localize "earthdawn.t.tierMaster"}}</option>
    {{/select}}
  </select>

  <label for='source'>
    {{ localize 'earthdawn.s.source'}}
  </label>
  <select id='source' name="source" class="inherent-width">
    {{#select source}}
      <option value="discipline">{{localize "earthdawn.d.discipline"}}</option>
      <option value="free">{{localize "earthdawn.f.free"}}</option>
      <option value="option">{{localize "earthdawn.o.option"}}</option>
      <option value="versatility">{{localize "earthdawn.v.versatility"}}</option>
      <option value="racial">{{localize "earthdawn.r.racial"}}</option>
    {{/select}}
  </select>

  <label for='discipline'>
    {{ localize 'earthdawn.d.discipline' }}
  </label>
  <select id='discipline' name='discipline' class='inherent-width'>
    {{#select discipline}}
      {{#each disciplines as |id name|}}
        <option value='{{id}}'>{{name}}</option>
      {{/each}}
    {{/select}}
  </select>
</div>

<h3>{{ localize 'earthdawn.r.requirements' }}</h3>
<div class='grid grid-2col no-gap upgradeDialog'>

  {{#if rankTooHigh}}
    <label><i class="fas fa-exclamation-circle"></i> {{ localize 'earthdawn.m.maxRanks' }}</label>
    <span>
      {{ localize 'earthdawn.errors.errorTalentUpgradeRankTooHigh' }}
    </span>
  {{else}}
    <label><i class="fas fa-check-circle"></i> {{ localize 'earthdawn.m.maxRanks' }}</label>
    <span>
      {{ localizedOK }}
    </span>
  {{/if}}

  {{#if hasSufficientLP}}
    <label id='lp-req-label'><i class="fas fa-check-circle"></i> {{ localize 'earthdawn.s.sufficientLP' }}</label>
    <span id='lp-req-text'>
      {{ localizedOK }}
    </span>
  {{else}}
    <label id='lp-req-label'><i class="fas fa-exclamation-circle"></i> {{ localize 'earthdawn.s.sufficientLP' }}</label>
    <span id='lp-req-text'>
      {{ localize 'earthdawn.errors.errorNotEnoughLP' lpCost=lpCostIncrease availableLP=currentAvailableLP}}
    </span>
  {{/if}}


  {{#if hasDamage}}
    <label><i class="fas fa-exclamation-circle"></i> {{ localize 'earthdawn.n.noDamage' }}</label>
    <span>
      {{ localize 'earthdawn.errors.errorNoUpgradeDamage' }}
    </span>
  {{else}}
    <label><i class="fas fa-check-circle"></i> {{ localize 'earthdawn.n.noDamage' }}</label>
    <span>
      {{ localizedOK }}
    </span>
  {{/if}}

  {{#if hasWounds}}
    <label><i class="fas fa-exclamation-circle"></i> {{ localize 'earthdawn.n.noWounds' }}</label>
    <span>
      {{ localize 'earthdawn.errors.errorNoUpgradeWounds' }}
    </span>
  {{else}}
    <label><i class="fas fa-check-circle"></i> {{ localize 'earthdawn.n.noWounds' }}</label>
    <span>
      {{ localizedOK }}
    </span>
  {{/if}}
</div>

<h3>{{ localize 'earthdawn.r.rules' }}</h3>
<div class='grid grid-1col no-gap upgradeDialog'>
  <ul>
    <!--TODO: localize-->
    <li>meditate uninterrupted for eight hours</li>
    <li>can only meditate on one talent at a time</li>
    <li>a talent can only be increased by one rank per day</li>
    <li>an adept can only increase up to two different talents by one Rank each per day under normal circumstances</li>
    <li>rank 15 is the highest talent rank available to adepts</li>
  </ul>
</div>