<h2>{{ localize 'earthdawn.r.rankIncrease'}}: {{ currentRank }} &mapsto; {{newRank}}</h2>
<br />
<h3>{{ localize 'earthdawn.l.lpCost' }}</h3>
<div class='grid grid-2col no-gap upgradeDialog'>
  <label for='lpCost'>
    {{ localize 'earthdawn.l.lpCost' }}
  </label>
  <input type='number' id='lpCost' value={{ lpCostIncrease }}>
</div>
<h3>{{ localize 'earthdawn.r.requirements' }}</h3>
<div class='grid grid-2col no-gap upgradeDialog'>

  {{#if rankTooHigh}}
    <label><i class="fas fa-exclamation-circle"></i> {{ localize 'earthdawn.m.maxRanks' }}</label>
    <span>
      {{ localize 'earthdawn.errors.errorTalentUpgradeRankTooHigh' }}
    </span>
  {{else}}
    <label><i class="fas fa-check-circle"></i> {{ localize 'earthdawn.m.maxRanks' }}</label>
    <span>
      {{ localizedOK }}
    </span>
  {{/if}}

  {{#if hasSufficientLP}}
    <label><i class="fas fa-check-circle"></i> {{ localize 'earthdawn.s.sufficientLP' }}</label>
    <span>
        {{ localizedOK }} <!--{{ currentAvailableLP }} {{ localize 'earthdawn.l.legendPointsCurrent' }}-->
      </span>
  {{else}}
    <label><i class="fas fa-exclamation-circle"></i> {{ localize 'earthdawn.s.sufficientLP' }}</label>
    <span>
      {{ localize 'earthdawn.errors.errorNotEnoughLP' lpCost=lpCostIncrease availableLP=currentAvailableLP}}
    </span>
  {{/if}}


  {{#if hasDamage}}
    <label><i class="fas fa-exclamation-circle"></i> {{ localize 'earthdawn.n.noDamage' }}</label>
    <span>
      {{ localize 'earthdawn.errors.errorNoUpgradeDamage' }}
    </span>
  {{else}}
    <label><i class="fas fa-check-circle"></i> {{ localize 'earthdawn.n.noDamage' }}</label>
    <span>
      {{ localizedOK }}
    </span>
  {{/if}}

  {{#if hasWounds}}
    <label><i class="fas fa-exclamation-circle"></i> {{ localize 'earthdawn.n.noWounds' }}</label>
    <span>
      {{ localize 'earthdawn.errors.errorNoUpgradeWounds' }}
    </span>
  {{else}}
    <label><i class="fas fa-check-circle"></i> {{ localize 'earthdawn.n.noWounds' }}</label>
    <span>
      {{ localizedOK }}
    </span>
  {{/if}}
</div>