<ul class="attributes grid grid-3col no-gap">
	{{!-- Damage Attributes --}}
	<li class="attribute">
		<h4 class="attribute-name box-title">
			{{ localize "earthdawn.d.damage" }}
		</h4>
		<div class="attribute-value multiple">
			<input name="system.damage.value" type="text" value="{{actor.system.damage.value}}" placeholder="0" data-dtype="Number"/>
			{{#if (PC this)}}
				<label>
					<span class="sep"> / </span>
					<span class="threshold">{{actor.system.unconscious.max}}</span>
					<span class="sep"> / </span>
					<span class="threshold">{{actor.system.damage.max}}</span>
				</label>
			{{else}}
				<div class='grid grid-6col no-gap'>
					<span class="sep"> / </span>
					<input class='grid-span-2' name="system.unconsciousThreshold" type="number" value="{{actor.system.unconsciousThreshold}}"/>
					<span class="sep"> / </span>
					<input class='grid-span-2'  name="system.deathThreshold" type="number" value="{{actor.system.deathThreshold}}"/>
				</div>
			{{/if}}
		</div>
		<footer class="attribute-footer">
			<span>{{localize "earthdawn.d.dmg"}}</span>
			<span class="sep"> / </span>
			<span>{{localize "earthdawn.u.ucs"}}</span>
			<span class="sep"> / </span>
			<span>{{localize "earthdawn.d.death"}}</span>
		</footer>
	</li>

	{{!-- Defenses Attributes --}}
	<li class="attribute">
		<h4 class="attribute-name box-title">
			{{ localize "earthdawn.d.defenses" }}
		</h4>
		<div class="attribute-value multiple">
			{{#if (PC this)}}
				<label>
					<span class="threshold">{{actor.system.physicaldefense}}</span>
					<span class="sep"> / </span>
					<span class="threshold">{{actor.system.mysticdefense}}</span>
					<span class="sep"> / </span>
					<span class="threshold">{{actor.system.socialdefense}}</span>
				</label>
			{{else}}
				<div class='grid grid-8col'>
					<input class='grid-span-2' name="system.physicaldefense" type="number" value="{{actor.system.physicaldefense}}"/>
					<span class="sep"> / </span>
					<input class='grid-span-2'  name="system.mysticdefense" type="number" value="{{actor.system.mysticdefense}}"/>
					<span class="sep"> / </span>
					<input class='grid-span-2'  name="system.socialdefense" type="number" value="{{actor.system.socialdefense}}"/>
				</div>
			{{/if}}
		</div>
		<footer class="attribute-footer">
			<span>{{localize "earthdawn.p.physical"}}</span>
			<span class="sep"> / </span>
			<span>{{localize "earthdawn.m.mystic"}}</span>
			<span class="sep"> / </span>
			<span>{{localize "earthdawn.s.social"}}</span>
		</footer>
	</li>

	{{!-- Armor Attributes --}}
	<li class="attribute">
		<h4 class="attribute-name box-title">{{ localize "earthdawn.a.armors" }}</h4>
		<div class="attribute-value multiple">
			{{#if (PC this)}}
				<label>
					<span class="threshold">{{actor.system.physicalarmor}}</span>
					<span class="sep"> / </span>
					<span class="threshold">{{actor.system.mysticarmor}}</span>
				</label>
			{{else}}
				<div class='grid grid-5col'>
					<input class='grid-span-2' name="system.physicalarmor" type="number" value="{{actor.system.physicalarmor}}"/>
					<span class="sep"> / </span>
					<input class='grid-span-2'  name="system.mysticarmor" type="number" value="{{actor.system.mysticarmor}}"/>
				</div>
			{{/if}}
		</div>
		<footer class="attribute-footer">
			<span>{{localize "earthdawn.p.physical"}}</span>
			<span class="sep"> / </span>
			<span>{{localize "earthdawn.m.mystic"}}</span>
		</footer>
	</li>

	{{!-- Wounds Attributes --}}
	<li class="attribute">
		<h4 class="attribute-name box-title">{{ localize "earthdawn.w.wounds" }}</h4>
		<div class="attribute-value multiple">
			<input name="system.wounds" type="number" value="{{actor.system.wounds}}" placeholder="0"/>
			{{#if (PC this)}}
				<label>
					<span class="sep"> / </span>
					<span class="threshold">{{actor.system.woundThreshold}}</span>
				</label>
			{{else}}
			<span class="sep"> / </span>
			<input name="system.woundThreshold" type="number" value="{{actor.system.woundThreshold}}"/>
			{{/if}}
		</div>
		<footer class="attribute-footer">
			<span>{{localize "earthdawn.c.current"}}</span>
			<span class="sep"> / </span>
			<span>{{localize "earthdawn.t.threshold"}}</span>
		</footer>
	</li>

	{{!-- Recovery Attributes --}}
	<li class="attribute">
		<h4 class="attribute-name box-title">
			{{ localize "earthdawn.r.recovery" }}
		</h4>
		<div class="attribute-value multiple">
			{{#if (eq actor.type 'creature')}}
				<input name="system.recoverytests" type="number" value="{{actor.system.recoverytests}}" placeholder="0"/>
			{{else}}
				<input name="system.recoverytestscurrent" type="number" value="{{actor.system.recoverytestscurrent}}" placeholder="0"/>
			{{/if}}
			{{#if (PC this)}}
				<label>
					<span class="sep"> / </span>
					<span class="threshold">{{actor.system.recoverytestsrefreshFinal}}</span>
				</label>
			{{else}}
				<span class="sep"> / </span>
				<input name="system.recoverytestsrefresh" type="number" value="{{actor.system.recoverytestsrefresh}}"/>
			{{/if}}
		</div>
		<footer class="attribute-footer">
			<span>{{localize "earthdawn.c.current"}}</span>
			<span class="sep"> / </span>
			<span>{{localize "earthdawn.d.daily"}}</span>
			<span class="sep"> / </span>
			<a class="fas fa-first-aid recovery-roll" title="{{localize "earthdawn.r.recovery"}}"></a>
		</footer>
	</li>

	{{!-- Karma Attributes --}}
	<li class="attribute">
		<h4 class="attribute-name box-title">{{ localize "earthdawn.k.karma" }}</h4>
		<div class="attribute-value multiple">
			<input name="system.karma.value" type="number" value="{{actor.system.karma.value}}" placeholder="0"/>
			{{#if (PC this)}}
				<label>
					<span class="sep"> / </span>
					<span class="threshold">{{actor.system.karma.max}}</span>
				</label>
			{{else}}
				<span class="sep"> / </span>
				<input name="system.karma.max" type="number" value="{{actor.system.karma.max}}"/>
			{{/if}}
		</div>
		<footer class="attribute-footer">
			<span>{{localize "earthdawn.c.current"}}</span>
			<span class="sep"> / </span>
			<span>{{localize "earthdawn.m.max"}}</span>
		</footer>
	</li>
</ul>
