<div class="item-controls grid grid-3col no-margin no-gap">
	<a class="item-control item-display" title="{{localize 'earthdawn.d.displayItem'}}">
		<i class="fas fa-comments"></i>
	</a>
        <a class="item-control effect-edit " title="{{localize 'earthdawn.e.editItem'}}">
            <i class="fas fa-edit"></i>
        </a>
        <a class="item-control effect-delete" title="{{localize 'earthdawn.d.deleteItem'}}"><i
                class="fas fa-trash"></i>
        </a>
    {{#if upgradable}}
        <a class="item-control item-upgrade" title="{{localize 'earthdawn.u.upgrade'}}">
            <i class="fas fa-arrow-circle-up"></i>
        </a>
        <div></div>
        <a class="item-control item-downgrade" title="{{localize 'earthdawn.d.downgrade'}}">
            <i class="fas fa-arrow-circle-down"></i>
        </a>
    {{/if}}
</div>
