@import '../globals/variables';

/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.taka-theme.actor.character {
  min-width: 720px;
  min-height: 680px;

  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */

  .sheet-header {
    // Character Profile image (larger)
    img.profile {
      flex: 0 0 185px;
      max-width: 185px;
      height: 185px;
      margin: 0;
    }

    // Character Disciplines
    .top-right {
      // Legend Point Tracking
      .legendPoints {
        flex: 0 0 32px;
        align-items: center;
        font-size: 18px;

        input {
          text-align: right;

          .max {
            color: @colorTan;
            flex: none;
            margin-left: 3px;
          }
        }
      }
    }

    .summary {
      text-align: left;
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */

  .char-disciplines {
    flex: 0 0 20px;
    height: 20px;
    font-size: 18px;
    color: @colorTan;
    white-space: nowrap;

    .disciplines-list {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 3px 0;
        padding: 0 2px;
        background: rgba(0, 0, 0, 0.05);
        border: @borderGroove;
        text-align: center;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Item Controls                            */
  /* ----------------------------------------- */

  .inventory,
  .spells {
    .item-controls {
      flex: 0 0 68px;
      .item-toggle {
        color: @colorBeige;
        &.active {
          color: @colorOlive;
        }
        &.fixed {
          color: @colorCrimson;
          &:hover {
            text-shadow: none;
          }
        }
      }
    }
  }

  /* ----------------------------------------- */
  /*  Spells                                   */
  /* ----------------------------------------- */

  .circle {
    margin-left: 30px;
  }

  /* ----------------------------------------- */
  /*  Inventory                                */
  /* ----------------------------------------- */

  .coins {
    flex: 0 !important;
    border: none;
    display: inline-block;
    width: 24px !important;
    height: 24px !important;
  }

  /* ----------------------------------------- */
  /*  Biography                                */
  /* ----------------------------------------- */

  .characteristics {
    flex: 0 0 180px;
    height: 100%;
    padding: 0 3px 3px;
    border-right: 2px groove #eeede0;

    div {
      padding: 5px;
    }

    label {
      font-family: 'WarhorseDIY', serif;
      flex: 0 0 20px;
      font-size: 16px;
      font-weight: bolder;
      line-height: 20px;
      text-align: center;
    }
    input {
      height: 25px;
      font-family: 'Signika', serif;
      font-size: 13px;
      border: 1px solid @colorFaint;
      resize: none;
    }
  }
}
