@import 'styles/less/taka-theme/globals/variables';

.taka-theme.item {
  min-height: 400px;
  max-height: 95%;
  min-width: 480px;

  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */

  .sheet-header {
    max-height: 101px;
    margin-bottom: 10px;
    border-bottom: @borderGroove;

    img.profile {
      border: 2px solid #000;
      max-width: 100px;
      max-height: 100px;
    }

    .charname {
      position: absolute;
      width: calc(100% - 30px);
      margin-top: 5px;
      border: none;

      input {
        border: none;
        background: none;
        height: 75px;
        margin-left: 23px;
        font-size: 35px;
        width: calc(100% - 95px);
      }
    }

    .charname-discipline {
      position: absolute;
      width: calc(100% - 30px);
      margin-top: 5px;
      border: none;

      input {
        border: none;
        background: none;
        height: 60px;
        margin-left: 23px;
        font-size: 35px;
        width: calc(100% - 95px);
      }
    }

    .item-subtitle {
      float: right;
      height: 60px;
      margin: 0;
      padding: 5px;
      text-align: right;
      color: @colorTan;

      .item-type {
        font-size: 24px;
        line-height: 26px;
        margin: 0;
        text-transform: uppercase;
      }
    }
  }

  .sheet-navigation {
    max-height: 25px;
    margin-bottom: 5px;

    .active {
      text-shadow: 0 0 10px red;
    }

    .nav {
      text-align: center;
      font-family: 'WarhorseDIY', serif;
      font-size: 18px;
      margin: 0 24px;
      border-bottom: 3px solid #44191a;
    }
  }

  .discipline-tabs {
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    max-height: 100%;

    .nav {
      height: 25px;
    }
  }

  .discipline-body {
    overflow: auto !important;

    #description {
      .editor {
        overflow: hidden;
      }
    }
  }

  .sheet-body {
    overflow: hidden;

    .thread-border {
      margin-bottom: 10px;
    }

    .tab {
      padding: 0 5px;
      overflow: hidden auto;
    }

    .spell-label {
      font-family: 'WarhorseDIY', serif;
      text-align: center;
      font-weight: bold;
      vertical-align: center;
    }

    .change-thread-number i {
      vertical-align: center;
    }

    .item-properties.wide {
      flex: 0 0 200px;
    }

    .item-properties.wide-xl {
      flex: 0 0 225px;
    }

    .item-properties {
      flex: 0 0 120px;
      margin: 5px 5px 5px 0;
      padding-right: 5px;
      border-right: @borderGroove;

      .form-group {
        margin: 0;

        label {
          line-height: 20px;
        }

        .box-title {
          border-bottom: @borderGroove;
          text-align: center;
          margin: 0;
        }

        input {
          text-align: center;
          border: @borderGroove;
        }
      }

      .properties-list {
        list-style: none;
        margin: 0;
        padding: 0;

        label {
          font-family: 'WarhorseDIY', serif;
          text-align: left;
          margin-left: 10px;
        }

        .box-title {
          font-size: 15px;
          font-family: 'WarhorseDIY', serif;
        }

        li {
          margin: 3px 0;
          padding: 0 2px;
          background: rgba(0, 0, 0, 0.05);
          border: @borderGroove;
          text-align: center;
          font-size: 10px;
          line-height: 18px;
        }

        .checkbox {
          text-align: left;
          margin-left: 45px;
        }
      }
    }
  }
}
