@import '../globals/variables';

.override {
  list-style: none;

  .attribute {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border: @borderGroove;
    padding: 5px;
    border-radius: 0;

    &:last-child {
      margin-bottom: 0;
    }

    .attribute-value {
      height: 30px;
      line-height: 30px;

      div {
        input {
          font-weight: 400;
          font-size: 24px;
        }
      }

      .threshold {
        color: @colorTan;
      }
    }
  }
}
