<div class="item-name no-flex">
    <h3>{{localize "earthdawn.s.skills"}}</h3>
</div>
<table>
    <tr>
        <th class="item-image margin-right-5"></th>
        <th>{{localize "earthdawn.n.name"}}</th>
        <th>{{localize "earthdawn.r.rank"}}</th>
        <th>{{localize "earthdawn.a.attribute"}}</th>
        <th>{{localize "earthdawn.s.step"}}</th>
        <th>{{localize "earthdawn.a.action"}}</th>
        <th>{{localize "earthdawn.s.strain"}}</th>
        <th class="centered">
            <a class="item-control item-create" data-type="skill" title="{{localize 'earthdawn.s.skillCreate'}}">
                <i class="fas fa-plus"></i>
            </a>
        </th>
    </tr>

    {{#each skills as |skill i|}}
        {{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/cards/skill-card.hbs' skill attributes=../actor.system}}
    {{/each}}
</table>
