{{#if (getSpellSort 'Split')}}
    {{#each (highestCircle spells) as |circle i|}}
        <div class="item-name no-flex">
            <h3>Circle {{circle}}</h3>
        </div>
        <table>
            <tr>
                <th class="item-image margin-right-5"></th>
                <th>{{localize "earthdawn.n.name"}}</th>
                <th>{{localize "earthdawn.e.effect"}}</th>
                <th>{{localize "earthdawn.r.range"}}</th>
                <th>{{localize "earthdawn.t.threadsRequired"}}</th>
                <th>{{localize "earthdawn.d.discipline"}}</th>
                <th class="centered">
                    <a class="item-control item-create" data-type='spell' title="{{localize 'earthdawn.s.spellCreate'}}">
                        <i class="fas fa-plus"></i>
                    </a>
                </th>
            </tr>

            {{#each (getCircleSpells circle ../spells) as |spell index|}}
                {{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/cards/spell-card.hbs' spell}}
            {{/each}}
        </table>
        <hr>
    {{/each}}
{{else}}
    <table>
        <tr>
            <th class="item-image margin-right-5"></th>
            <th>{{localize "earthdawn.n.name"}}</th>
            <th>{{localize "earthdawn.e.effect"}}</th>
            <th>{{localize "earthdawn.r.range"}}</th>
            <th>{{localize "earthdawn.t.threadsRequired"}}</th>
            <th>{{localize "earthdawn.d.discipline"}}</th>
            <th class="centered">
                <a class="item-control item-create" data-type='spell' title="{{localize 'earthdawn.s.spellCreate'}}">
                    <i class="fas fa-plus"></i>
                </a>
            </th>
        </tr>

        {{#each spells as |spell index|}}
            {{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/cards/spell-card.hbs' spell}}
        {{/each}}
    </table>
{{/if}}
