<div class="armor-info item-draggable armor-card item-name border" data-item-id="{{_id}}">
  <span class="oneLine text-align-middle">
    <a class="armor partial-four text-align-middle">
      <img src="{{img}}" data-edit="img" title="{{name}}" height="25" width="25" />
      &nbsp;{{name}}
    </a>
    <a class="partial-four text-align-middle">
      {{localize "earthdawn.a.armorPhysical"}}:
      {{system.Aphysicalarmor}}
    </a>
    <a class="partial-four text-align-middle">
      {{localize "earthdawn.a.armorMystical"}}:
      {{system.Amysticarmor}}
    </a>

    {{localize "earthdawn.e.equipped"}}:
    <input type="checkbox" class="link-checkbox" name="system.worn" data-dtype="Boolean" {{checked system.worn}} />

    <a class="itemControlGroup">
      <a class="item-control item-display" title="Display Item">
        <i class="fas fa-comments"></i>
      </a>
      <a class="item-control item-delete text-align-middle" title="Delete Item">
        <i class="fas fa-trash"></i>
      </a>
      <a class="item-control item-edit text-align-middle" title="Edit Item">
        <i class="fas fa-edit"></i>
      </a>
    </a>

  </span>
</div>
