<div class="characteristicsTab">
    <h2>{{localize "earthdawn.c.characteristics"}}</h2>
    <section name="leftbar">
        <!--Leftbar-->
        <section class="characteristicsLeftBar">
            <!--Defenses-->
            <section>
                <div name="defenses">
                    <div class="centeredInput showHidden">       
                        <h3><a class="show-hidden">{{localize "earthdawn.d.defense"}}</a></h3>
                        <div class="partial-three">
                            <div>
                                <span class="lineBreak" name="defensePhysical">{{localize "earthdawn.d.defensePhysical"}}</span>
                            </div>
                            <div>
                                <input class="circleInput" name="system.physicaldefense" type="text" value="{{actor.system.physicaldefense}}" data-dtype="Number" {{#if (eq actor.type "pc")}} readonly{{/if}}/>
                            </div>
                        </div>
                        <div class="partial-three">
                            <div>
                                <span class="lineBreak" name="defenseMagical">{{localize "earthdawn.d.defenseMagical"}}</span>
                            </div>
                            <div>
                                <input class="circleInput" name="system.mysticdefense" type="text" value="{{actor.system.mysticdefense}}" data-dtype="Number" {{#if (eq actor.type "pc")}}readonly{{/if}}/>
                            </div>
                        </div>
                        <div class="partial-three">
                            <div>
                                <span class="lineBreak" name="defenseSocial">{{localize "earthdawn.d.defenseSocial"}}</span>      
                            </div>
                            <div>    
                                <input class="circleInput" name="system.socialdefense" type="text" value="{{actor.system.socialdefense}}" data-dtype="Number" {{#if (eq actor.type "pc")}} readonly {{/if}}/>
                            </div>
                        </div>
                            <div style="display: none" class="hidden-tab hidden-tab-modifier space">
                                <div class="partial-three padding-top-5">
                                    <div>
                                        <span class="lineBreak" name="defensePhysical">{{localize "earthdawn.m.modifier"}}</span>
                                    </div>
                                    <div>
                                        <input class="circleInput" name="system.overrides.physicaldefense" type="text" value="{{actor.system.overrides.physicaldefense}}" data-dtype="Number"/>
                                    </div>
                                </div>
                                <div class="partial-three padding-top-5">
                                    <div>
                                        <span class="lineBreak" name="defenseMagical">{{localize "earthdawn.m.modifier"}}</span>
                                    </div>
                                    <div>
                                        <input class="circleInput" name="system.overrides.mysticdefense" type="text" value="{{actor.system.overrides.mysticdefense}}" data-dtype="Number"/>
                                    </div>
                                </div>
                                <div class="partial-three padding-top-5">
                                    <div>
                                        <span class="lineBreak" name="defenseSocial">{{localize "earthdawn.m.modifier"}}</span>      
                                    </div>
                                    <div>    
                                        <input class="circleInput" name="system.overrides.socialdefense" type="text" value="{{actor.system.overrides.socialdefense}}" data-dtype="Number"/>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </section>
            <section>
                <div name="health">
                    <div class="centeredInput showHidden space">
                        <h3><a class="show-hidden">{{localize "earthdawn.h.healthRating"}}</a></h3>
                        <div class="partial-three">
                            <div>
                                <span name="damageValue">{{localize "earthdawn.d.damageCurrent"}}</span>
                            </div>
                            <div class="partial-two">
                                <div>
                                    <input class="circleInput" name="system.damage.stun" type="text" value="{{actor.system.damage.stun}}" data-dtype="Number"/>
                                </div>
                            </div>
                            <div class="partial-two">
                                <div>
                                    <input class="circleInput" name="system.damage.value" type="text" value="{{actor.system.damage.value}}" data-dtype="Number"/>
                                </div>
                            </div>
                        </div>
                        <div class="partial-three">
                            <div>
                                <span name="woundValue">{{localize "earthdawn.w.woundThreshold"}}</span>
                            </div>
                            <div>
                                <input class="circleInput" name="system.woundThreshold" type="text" value="{{actor.system.woundThreshold}}" data-dtype="Number" {{#if (eq actor.type "pc")}}readonly {{/if}}/>
                            </div>
                        </div>
                        <div class="partial-three">
                            <div>
                                <span name="wounds">{{localize "earthdawn.w.woundsAmount"}}</span>
                            </div>
                            <br>
                            <div>
                                <input class="circleInput" name="system.wounds" type="text" value="{{actor.system.wounds}}" data-dtype="Number"/>
                            </div>
                        </div>
                        <div style="display: none" class="hidden-tab hidden-tab-modifier space">
                            <div class="partial-three padding-top-5">
                                
                            </div>
                            <div>
                                
                            </div>
                            <div class="partial-three padding-top-5">
                                <div class="centered">
                                    <span class="centered" name="woundValue">{{localize "earthdawn.m.modifier"}}</span>
                                </div>
                                <div class="centered">
                                    <input class="circleInput" name="system.overrides.woundthreshold" type="text" value="{{actor.system.overrides.woundthreshold}}" data-dtype="Number" />
                                </div>
                            </div>
                            <div class="partial-three">
                                <div>
                                </div>
                                <br>
                                <div>

                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="recovery showHidden space">
                    <div class="centeredInputNoSpaceing space">
                    <h3><a class="show-hidden centeredInput">{{localize "earthdawn.r.recovery"}}</a></h3>
                        <div class="partial-two">
                            <div>
                                <label></label>{{localize "earthdawn.r.recovery"}}</label>
                                <a class="fas fa-first-aid recovery-roll" title="{{localize "earthdawn.r.recovery"}}"></a>
                            </div>
                            <div>
                                <input class="circleInput" name="system.recoverytestscurrent" type="text" value="{{actor.system.recoverytestscurrent}}" data-dtype="Number" />   
                            </div>

                        </div>
                        <div class="partial-two">
                            <div class="centered">
                                <span class="centered" name="daily">{{localize "earthdawn.r.recoveryTestPerDay"}}</span>
                            </div>
                            <div class="centered">
                                <input class="circleInput" name="system.recoverytestsrefreshFinal" type="text" value="{{actor.system.recoverytestsrefreshFinal}}" data-dtype="Number" {{#if (eq actor.type "pc")}}readonly {{/if}} />
                            </div>
                        </div>
                    </div>
                    <div style="display: none" class="hidden-tab hidden-tab-modifier space">
                        <div class="partial-two">
                            <div>
                                </div>
                                <br>
                                <div>
                                </div>
                        </div>
                        <div class="partial-two">
                            <div class="centered">
                                <span class="centered" name="daily">{{localize "earthdawn.m.modifier"}}</span>
                            </div>
                            <div class="centered">
                                <input class="circleInput" name="system.overrides.recoverytestsrefresh" type="text" value="{{actor.system.overrides.recoverytestsrefresh}}" data-dtype="Number"/> 
                            </div>
                        </div>   
                    </div>     
                </div>

            </section>   
            <!-- Karma abilities -->
            <!--<section>
                <h3>{{localize "earthdawn.k.karma"}}</h3>
                <div>
                    {{#each disciplines as |discipline id|}}
                    {{> "systems/earthdawn4e/templates/actors/partials/discipline-card.hbs" discipline}}
                        <ul class="listKarmaAbility">
                            {{#if ( eq actor.system.circle '1')}}
                                <li>{{actor.system.karmaAbility1}}</li>
                            {{else}}
                                {{#if (eq actor.system.circle  '2')}}
                                <li>{{actor.system.karmaAbility1}}</li>
                                <li>{{actor.system.karmaAbility2}}</li>
                                {{/if}}
                            {{/if}}
                        </ul>
                    {{/each}}

                </div>
            </section>-->
        </section>
    </section>

    <section name="rightbar">
        <!-- Rightbar-->
        <section class="characteristicsRightBar">
            <!-- Armor -->
            <div name="armor">
                <div class="centeredInput showHidden">
                    <h3><a class="show-hidden">{{localize "earthdawn.a.armorRating"}}</a></h3>
                    <div class="partial-two">
                        <div>
                            <span>{{localize "earthdawn.a.armorPhysical"}}</span>
                        </div>
                        <div>
                            <input class="circleInput" name="system.physicalarmor" type="text" value="{{actor.system.physicalarmor}}" data-dtype="Number" {{#if (eq actor.type "pc")}}readonly {{/if}}/>
                        </div>
                    </div>
                    <div class="partial-two">
                        <div>
                            <span>{{localize "earthdawn.a.armorMystical"}}</span>
                        </div>
                        <div>
                            <input class="circleInput" name="system.mysticarmor" type="text" value="{{actor.system.mysticarmor}}" data-dtype="Number" {{#if (eq actor.type "pc")}}readonly {{/if}} />
                        </div>
                    </div>
                    <div style="display: none" class="hidden-tab hidden-tab-modifier space">
                        <div class="partial-two padding-top-5">
                        <div>
                            <span>{{localize "earthdawn.m.modifier"}}</span>
                        </div>
                        <div>
                            <input class="circleInput" name="system.overrides.physicalarmor" type="text" value="{{actor.system.overrides.physicalarmor}}" data-dtype="Number"/>
                        </div>
                    </div>
                    <div class="partial-two padding-top-5">
                        <div>
                            <span>{{localize "earthdawn.m.modifier"}}</span>
                        </div>
                        <div>
                            <input class="circleInput" name="system.overrides.mysticarmor" type="text" value="{{actor.system.overrides.mysticarmor}}" data-dtype="Number"/>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <!-- Health rating  -->
            <div name="healthratings">
                <div class="centeredInput showHidden space">
                    <h3><a class="show-hidden">{{localize "earthdawn.h.healthRating"}}</a></h3>
                    <div class="partial-two">
                        <div>
                            <span>{{localize "earthdawn.u.unconsciousnessRating"}}</span>
                        </div>
                        <div>
                            <input class="circleInput" {{#if (eq actor.type 'pc')}}name="system.unconscious.max" value="{{actor.system.unconscious.max}}"{{else}}name="system.unconsciousThreshold" value="{{actor.system.unconsciousThreshold}}" {{/if}} type="text" data-dtype="Number" {{#if (eq actor.type "pc")}}readonly {{/if}}/>
                        </div>
                    </div>
                    <div class="partial-two">
                        <div>
                            <span>{{localize "earthdawn.d.deathRating"}}</span>
                        </div>
                        <div>
                            <input class="circleInput" {{#if (eq actor.type 'pc')}}name="system.damage.max" value="{{actor.system.damage.max}}"{{else}}name="system.deathThreshold" value="{{actor.system.deathThreshold}}" {{/if}}type="text" data-dtype="Number" {{#if (eq actor.type "pc")}}readonly {{/if}}/>
                        </div>
                    </div>
                    <div style="display: none" class="hidden-tab hidden-tab-modifier space">
                        <div class="partial-two padding-top-5">
                            <div>
                                <span>{{localize "earthdawn.m.modifier"}}</span>
                            </div>
                            <div>
                                <input class="circleInput" name="system.overrides.unconsciousrating" type="text" value="{{actor.system.overrides.unconsciousrating}}" data-dtype="Number"/>
                            </div>
                        </div>
                        <div class="partial-two padding-top-5">
                            <div>
                                <span>{{localize "earthdawn.m.modifier"}}</span>
                            </div>
                            <div>
                                <input class="circleInput" name="system.overrides.deathrating" type="text" value="{{actor.system.overrides.deathrating}}" data-dtype="Number"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bloodmagic-->
            <div class="centeredInput showHidden space">
                <div class="centeredInput">
                    <h3><a class="show-hidden">{{localize "earthdawn.b.bloodMagic"}}</a></h3>
                    <div class="partial-two">
                        <div name="bloodMagicDamage" class="centered">
                            {{localize "earthdawn.d.damage"}}
                        </div>
                        <div class="centeredInput">
                            {{#if (eq actor.type 'pc')}}
                            <input class="circleInput" name="system.bloodMagicDamage" type="text" value="{{actor.system.bloodMagicDamage}}" data-dtype="Number" readonly/> 
                            {{else}}  
                            <input class="circleInput" name="system.bloodMagicDamage" type="text" value="{{actor.system.bloodMagicDamage}}" data-dtype="Number" /> 
                            {{/if}}

                        </div>
                    </div>
                    <div class="partial-two">
                        <div name="bloodMagicWounds" class="centered">
                            {{localize "earthdawn.w.woundsAmount"}}
                        </div>
                        <div class="centeredInput">
                            {{#if (eq actor.type 'pc')}}
                            <input class="circleInput" name="system.bloodMagicWounds" type="text" value="{{actor.system.bloodMagicWounds}}" data-dtype="Number" readonly/>   
                            {{else}}
                            <input class="circleInput" name="system.bloodMagicWounds" type="text" value="{{actor.system.bloodMagicWounds}}" data-dtype="Number" /> 
                            {{/if}}  
                        </div>
                    </div> 
                </div>
                <div style="display: none" class="hidden-tab hidden-tab-modifier space">
                    <div class="partial-two">
                        <div name="bloodMagicDamage" class="centered">
                            {{localize "earthdawn.m.modifier"}}
                        </div>
                        <div class="centeredInput">
                            <input class="circleInput" name="system.overrides.bloodMagicDamage" type="text" value="{{actor.system.overrides.bloodMagicDamage}}" data-dtype="Number"/>   
                        </div>
                    </div>
                    <div class="partial-two">
                        <div name="bloodMagicWounds" class="centered">
                            {{localize "earthdawn.m.modifier"}}
                        </div>
                        <div class="centeredInput">
                            <input class="circleInput" name="system.overrides.bloodMagicWounds" type="text" value="{{actor.system.overrides.bloodMagicWounds}}" data-dtype="Number"/>   
                        </div>
                    </div> 
                </div>           
            </div>

            <!-- Movement-->
            <div name="movement">
                <div class="centeredInput showHidden space">
                    <div class="centeredInput">
                        <h3><a class="show-hidden">{{localize "earthdawn.m.movement"}}</a></h3>
                        <div class="partial-two">
                            <div name="movement-on-foot">
                                <span>{{localize "earthdawn.m.movementNormal"}}</span>
                            </div>
                            <br>
                            <div class="centeredInput">
                                {{#if (eq actor.type 'pc')}}
                                <input class="circleInput" name="system.movementFinal" type="text" value="{{actor.system.movementFinal}}" data-dtype="Number" readonly/> 
                                {{else}}  
                                <input class="circleInput" name="system.movement" type="text" value="{{actor.system.movement}}" data-dtype="Number" /> 
                                {{/if}}
                            </div>
                        </div>
                        <div class="partial-two">
                            <div name="movement-other">
                                {{localize "earthdawn.m.movementOther"}}
                            </div>
                            <div class="centeredInput">
                                {{#if (eq actor.type 'pc')}}
                                <input class="circleInput" name="system.movementOtherFinal" type="text" value="{{actor.system.movementOtherFinal}}" data-dtype="Number"/>   
                                {{else}}
                                <input class="circleInput" name="system.movementOther" type="text" value="{{actor.system.movementOther}}" data-dtype="Number" /> 
                                {{/if}}  
                            </div>
                        </div> 
                    </div>
                    <div style="display: none" class="hidden-tab hidden-tab-modifier space">
                        <div class="partial-two">
                            <div name="movementModifier" class="centered">
                                {{localize "earthdawn.m.modifier"}}
                            </div>
                            <div class="centeredInput">
                                <input class="circleInput" name="system.overrides.movement" type="text" value="{{actor.system.overrides.movement}}" data-dtype="Number"/>  
                            </div>
                        </div>
                        <div class="partial-two">
                            <div name="otherMovementModifier" class="centered">
                                {{!-- {{localize "earthdawn.m.modifier"}} --}}
                            </div>
                            <div class="centeredInput">
                                {{!-- <input class="circleInput" name="system.overrides.movementOther" type="text" value="{{actor.system.overrides.movementOther}}" data-dtype="Number"/>    --}}
                            </div>
                        </div> 
                    </div>           
                </div>
            </div>
        </section>
    </section>
</div>
