<div class="creatureBackgroundInformation">
  <div class="creatureChallenge">
    <table class="creatureStatsTable">
      <tr>
        <td>
          <label>{{localize "earthdawn.c.challenge"}}</label>
        </td>
        <td>
          <input
            name="system.challenge"
            type="text"
            value="{{actor.system.challenge}}"
            data-dtype="String"
          />
        </td>
      </tr>
    </table>
  </div>
  <div class="creatureInformation">
    <h3 class="centered">{{localize "earthdawn.i.information"}}</h3>
    <div class="flexDescription">
      {{editor enrichment.system.description target="system.description" button=true owner=owner editable=editable engine="prosemirror"}}
    </div>
  </div>
</div>