<input name="system.totalremaining" value="{{system.totalremaining}}" readonly/>
<table>
	<tr>
		<td>{{localize "earthdawn.a.attribute"}}</td>
		<td>{{localize "earthdawn.b.base"}}</td>
		<td>{{localize "earthdawn.p.pointsAdded"}}</td>
		<td>{{localize "earthdawn.t.total"}}</td>
		<td>{{localize "earthdawn.p.pointsCost"}}</td>
	</tr>
	<tr>
		<td>{{localize "earthdawn.d.dexterity"}}</td>
		<td>
			<input name="dexterity" style="width: 30px" value="{{namegiver.dexterity}}" readonly/>
		</td>
		<td>
			<a class="att-change-button" data-att="dexterity" data-direction="minus">
				<i class="fas fa-minus-circle"></i>
			</a>
			<input style="width: 30px" data-att="dexterity" name="system.dexterityadded" value="{{system.dexterityadded}}" readonly/>
			<a class="att-change-button" data-att="dexterity" data-direction="plus">
				<i class="fas fa-plus-circle"></i>
			</a>
		</td>
		<td>
			<input name="system.dexteritytotal" style="width: 30px" value="{{system.dexteritytotal}}" readonly/>
		</td>
		<td>
			<input name="system.dexteritypoints" style="width: 30px" value="{{system.dexteritypoints}}" readonly/>
		</td>
	</tr>
	<tr>
		<td>{{localize "earthdawn.s.strength"}}</td>
		<td>
			<input name="strength" style="width: 30px" value="{{namegiver.strength}}" readonly/>
		</td>
		<td>
			<a class="att-change-button" data-att="strength" data-direction="minus">
				<i class="fas fa-minus-circle"></i>
			</a>
			<input class="attribute-change" style="width: 30px" data-att="strength" name="system.strengthadded" value="{{system.strengthadded}}" readonly/>
			<a class="att-change-button" data-att="strength" data-direction="plus">
				<i class="fas fa-plus-circle"></i>
			</a>
		</td>
		<td>
			<input name="system.strengthtotal" style="width: 30px" value="{{system.strengthtotal}}" readonly/>
		</td>
		<td>
			<input name="system.strengthpoints" style="width: 30px" value="{{system.strengthpoints}}" readonly/>
		</td>
	</tr>
	<tr>
		<td>{{localize "earthdawn.t.toughness"}}</td>
		<td>
			<input name="toughness" style="width: 30px" value="{{namegiver.toughness}}" readonly/>
		</td>
		<td>
			<a class="att-change-button" data-att="toughness" data-direction="minus">
				<i class="fas fa-minus-circle"></i>
			</a>
			<input class="attribute-change" style="width: 30px" data-att="toughness" name="system.toughnessadded"
				   value="{{system.toughnessadded}}" readonly/>
			<a class="att-change-button" data-att="toughness" data-direction="plus">
				<i class="fas fa-plus-circle"></i>
			</a>
		</td>
		<td>
			<input name="system.toughnesstotal" style="width: 30px" value="{{system.toughnesstotal}}" readonly/>
		</td>
		<td>
			<input name="system.toughnesspoints" style="width: 30px" value="{{system.toughnesspoints}}" readonly/>
		</td>
	</tr>
	<tr>
		<td>{{localize "earthdawn.p.perception"}}</td>
		<td>
			<input name="perception" style="width: 30px" value="{{namegiver.perception}}" readonly/>
		</td>
		<td>
			<a class="att-change-button" data-att="perception" data-direction="minus">
				<i class="fas fa-minus-circle"></i>
			</a>
			<input class="attribute-change" style="width: 30px" data-att="perception" name="system.perceptionadded" value="{{system.perceptionadded}}" readonly/>
			<a class="att-change-button" data-att="perception" data-direction="plus">
				<i class="fas fa-plus-circle"></i>
			</a>
		</td>
		<td>
			<input name="system.perceptiontotal" style="width: 30px" value="{{system.perceptiontotal}}" readonly/>
		</td>
		<td>
			<input name="system.perceptionpoints" style="width: 30px" value="{{system.perceptionpoints}}" readonly/>
		</td>
	</tr>
	<tr>
		<td>{{localize "earthdawn.w.willpower"}}</td>
		<td>
			<input name="willpower" style="width: 30px" value="{{namegiver.willpower}}" readonly/>
		</td>
		<td>
			<a class="att-change-button" data-att="willpower" data-direction="minus">
			<i class="fas fa-minus-circle"></i>
		</a>
			<input class="attribute-change" style="width: 30px" data-att="willpower" name="system.willpoweradded" value="{{system.willpoweradded}}" readonly/>
			<a class="att-change-button" data-att="willpower" data-direction="plus">
				<i class="fas fa-plus-circle"></i>
			</a>
		</td>
		<td>
			<input name="system.willpowertotal" style="width: 30px" value="{{system.willpowertotal}}" readonly/>
		</td>
		<td>
			<input name="system.willpowerpoints" style="width: 30px" value="{{system.willpowerpoints}}" readonly/>
		</td>
	</tr>
	<tr>
		<td>{{localize "earthdawn.c.charisma"}}</td>
		<td>
			<input name="charisma" style="width: 30px" value="{{namegiver.charisma}}" readonly/>
		</td>
		<td>
			<a class="att-change-button" data-att="charisma" data-direction="minus">
				<i class="fas fa-minus-circle"></i>
			</a>
			<input class="attribute-change" style="width: 30px" data-att="charisma" name="system.charismaadded" value="{{system.charismaadded}}" readonly/>
			<a class="att-change-button" data-att="charisma" data-direction="plus">
			<i class="fas fa-plus-circle"></i>
		</a>
		</td>
		<td>
			<input name="system.charismatotal" style="width: 30px" value="{{system.charismatotal}}" readonly/>
		</td>
		<td>
			<input name="system.charismapoints" style="width: 30px" value="{{system.charismapoints}}" readonly/>
		</td>
	</tr>
</table>
